@{
    ViewData["Title"] = "Home Page";
}

<div class="centar">
    <div class="vertikala">
        <h2 class="display-4">Wheater app using Open weather map API and ASP.NET Core</h2>
    </div>
</div>
